body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 12px;
    padding: 32px 20px;
}

p {
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 12px;
    background-color: white;
    z-index: 1;
    padding: 10px 20px;
}

.room-container {
    display: flex;
    gap: 20px;
}
.input-container {
    display: flex;
    gap: 10px;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
}